<html lang="en" ng-app="oweek" >
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- Angular Material style sheet -->
	<title>NUST O'WEEK</title>
	<link rel="stylesheet" href="css/angular-material.min.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="icon" type="image/png" href="favicon.png"/>
	
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-orange.min.css" />
	<!-- Angular Material requires Angular.js Libraries -->
	<script src="js/angular.min.js"></script>
	<script src="js/angular-animate.min.js"></script>
	<script src="js/angular-aria.min.js"></script>
	<script src="js/angular-messages.min.js"></script>
	<script src="js/angular-route.js"></script>
	<base href="/"/>

	<!-- Angular Material Library -->
	<script src="js/angular-material.min.js"></script>
	<script src="js/moment.js"></script>
	<script src="js/cookie.js"></script>
	<script src="js/app.js"></script>
	<script src="js/user-controller.js"></script>

		

		<!-- Gallery Resources -->
		<link rel="stylesheet" href="css/Gallery_Look.css">
		<script src="js/Gallery_Function.js"></script>

	<!-- Map Resources -->
	<link rel="stylesheet" href="css/maps.css">
	<script type="text/javascript" src="js/maps.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
	<!-- FAQ Resources -->
	<script src="js/faq.js"></script>
	<link rel="stylesheet" type="text/css" href="css/faq.css">

	<!-- SRC Resources-->
	<script src="js/srcs.js"></script>
        <!-- events resources -->
        <script src="js/EventsController.js"></script>


    </head>
    <body ng-cloak ng-controller="homeController">
	<div ng-controller="AppCtrl">
	    <header layout="column">
		<md-content>
		    <md-toolbar >

			<div class="md-toolbar-tools main-tools" layout="row" layout-align="space-between center">
			    <a href="./">
				<img src="img/logo_medium.png" alt="NUST" id="logo" />
			    </a>

			    <span ng-show="api.authenticated">
				<i class="fa fa-user"></i>
				{{"Logged in as " + api.details.name + " " + api.details.surname}}
				| <a href="logout" ng-click="logout()"> Logout</a>
			    </span>
			    <span flex></span>
			    <h1>O'WEEK</h1>

			    <span flex></span>
			    <md-button  aria-label="Login" a href="login" ng-click="settings.displayLogin = true" ng-hide="api.authenticated">
				<i class="fa fa-lock"></i>
				Login
			    </md-button>
			    <span>
				<md-button class="md-icon-button" aria-label="Settings" ng-click="toggleRight()"
					   ng-hide="isOpenRight()"
					   >
				    <md-icon><i class="fa fa-bars fa-2x"></i></md-icon>
				</md-button>
			    </span>
			</div>

		    </md-toolbar>
		</md-content>
	    </header>
	    <section  layout="row" flex>
		<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
		    <md-toolbar class="md-theme-light">
			<h1 class="md-toolbar-tools">Menu</h1>
		    </md-toolbar>
		    <md-content ng-controller="RightCtrl" style="padding:0">

			<md-button layout-padding ng-repeat="links in homeLinks"
				   ng-href="{{links.link}}"  class="menu-bottons"
				   ng-click="toggleRight()">
			    <strong>{{links.name}}</strong>
			</md-button>

		    </md-content>
		</md-sidenav>
	    </section>
	</div>
	<div ng-view>
	</div>
	<footer class="mdl-mdl-footer" style="background-color: 3F51B5">
	<div layout="column" layout-align="center center">
		<div layout="row">
			<div style="float:left; width = 15%" layout-align="space-around center">
				<h1 class="mdl-mega-footer__heading" style="padding-Right: 25px">Features</h1>
				<div style="padding-Right: 25px"><a href="events" style="color: Black;text-decoration: none;"><strong>NUST News & Events</strong></a></div>
				<div style="padding-Right: 25px"><a href="council" style="color: Black;text-decoration: none;"><strong>SRCs 2016</strong></a></div>
				<div style="padding-Right: 25px"><a href="#" style="color: Black;text-decoration: none;"><strong>Terms of service</strong></a></div>
			
			</div>
		<div >
			<div style="float:right;">
				<h1 class="mdl-mega-footer__heading" style="padding-left: 25px">Contact us</h1>
				<div class="mdl-mega-footer__link-list" layout="column" >
				<div style="padding-left: 25px"><img src="http://www.nust.na/sites/all/themes/nust/images/mailbox-icon-nust.png"/><strong>Private Bag 13388 Windhoek, Namibia</strong></div>
				<div style="padding-left: 25px"><img src="http://www.nust.na/sites/all/themes/nust/images/home-icon-nust.png" /><strong>13 Storch Street Windhoek, Namibia</strong></div>
				<div style="padding-left: 25px"><img src="http://www.nust.na/sites/all/themes/nust/images/phone1-icon-nust.png" /><strong>+264-61-207-9111</strong></div>
				<div style="padding-left: 25px"><img src="http://www.nust.na/sites/all/themes/nust/images/printer_and_fax-nust.png" /><strong>+264-61-207-2444</strong></div> 
      		</div>
	  	</div>
	</div>
	</div>
	
	<div layout="row" layout-align="center center">
       <div layout="row" layout-align="center center" style="font-size: 10px">
       <strong>© 2016 Namibia University of Science and Technology Orientation Week. All Rights Reserved</strong>
       </div>
	</div>

    </footer>
    </body>
</html>
