<!--
/**
* Created by Bertie on 1/14/2016.
*/
 Page displays the map centered around the campus area with all markers and links pointing to said markers -->
<div ng-controller="MapCtrl" align="center">
    <h1>Campus Map</h1>
    <div id="map"></div>
    <div id="linkBox" align="center">
        <div id="repeat" ng-repeat="marker in markers">
            <a id="country_container" ng-href="#" ng-click="openInfoWindow($event, marker)" >
                <label  id="names" >{{ marker.title }}</label>
            </a>
        </div>
    </div>
</div>
