<div ng-controller="AppCtrl">
  <div id="content">
  <md-content layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <div class="buckets layout-wrap layout-align-center-center layout-row" layout="" layout-align="center center" layout-wrap="">
    <div id="xx">
      <md-card id="xy"> 
        <md-card-title>
		<md-card-title-media>
            <div class="md-media-md card-media">
             <img src="C:Users/Leo/Desktop/AngTest/img/avatar/leo.jpg" style="PADDING-RIGHT: 15px;">
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline" flex>Oscar Mwandingi</span>
            <span class="md-subhead">President</span>
			<span class="office">Office 206</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
    <div id="xx">
      <md-card id="xy">
        <md-card-title>
		<md-card-title-media>
            <div class="md-media-md card-media">
              <img src="C:Users/Leo/Desktop/AngTest/img/avatar/leo.jpg" style="PADDING-RIGHT: 15px;">
            </div>
          </md-card-title-media>
          <md-card-title-text>
		  <span flex></span>
            <span class="md-headline" flex="">Saarah Shindodola</span>
            <span class="md-subhead" >Vice-President</span>
		<span flex></span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div >
	 <div id="xx">
      <md-card id="xy">
        <md-card-title>
		<md-card-title-media>
            <div class="md-media-md card-media">
              <img src="C:Users/Leo/Desktop/AngTest/img/avatar/tst1.jpg" style="PADDING-RIGHT: 15px;">
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline">Jackline Zambwe</span>
            <span class="md-subhead">Secretary General</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
     <div id="xx">
      <md-card id="xy">
        <md-card-title>
    <md-card-title-media>
            <div class="md-media-md card-media">
              <img src="C:Users/Leo/Desktop/AngTest/img/avatar/leo.jpg" style="PADDING-RIGHT: 15px;">
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline">Kem Sakaria</span>
            <span class="md-subhead">Finance</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
     <div id="xx">
      <md-card id="xy">
        <md-card-title>
    <md-card-title-media>
            <div class="md-media-md card-media">
              <img src="C:Users/Leo/Desktop/AngTest/img/avatar/leo.jpg" style="PADDING-RIGHT: 15px;">
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline">Ervin Haipumbu</span>
            <span class="md-subhead">External Affairs</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
   <div id="xx">
      <md-card id="xy">
        <md-card-title>
    <md-card-title-media>
            <div class="md-media-md card-media">
              <img src="C:Users/Leo/Desktop/AngTest/img/avatar/tst1.jpg" style="PADDING-RIGHT: 15px;">
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline">Haikali Ndatulumukwa</span>
            <span class="md-subhead">Internal Affairs</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
     <div id="xx">
      <md-card id="xy">
        <md-card-title>
    <md-card-title-media>
            <div class="md-media-md card-media">
              <img src="C:Users/Leo/Desktop/AngTest/img/avatar/leo.jpg" style="PADDING-RIGHT: 15px;">
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline" >Hosea Hashili</span>
            <span class="md-subhead">Information, Publicity</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
     <div id="xx">
      <md-card id="xy">
        <md-card-title>
    <md-card-title-media>
            <div class="md-media-md card-media">
              <img src="C:Users/Leo/Desktop/AngTest/img/avatar/leo.jpg" style="PADDING-RIGHT: 15px;">
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline">Shoopala P. Shoopala</span>
            <span class="md-subhead">Academic Affairs</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
   <div id="xx">
      <md-card id="xy">
        <md-card-title>
    <md-card-title-media>
            <div class="md-media-md card-media">
              <img src="C:Users/Leo/Desktop/AngTest/img/avatar/tst1.jpg" style="PADDING-RIGHT: 15px;">
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline">Philemon F. Haufiku</span>
            <span class="md-subhead">Sports</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
     <div id="xx">
      <md-card id="xy" >
        <md-card-title>
    <md-card-title-media>
            <div class="md-media-md card-media">
              <img src="C:Users/Leo/Desktop/AngTest/img/avatar/leo.jpg" style="PADDING-RIGHT: 15px;">
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline">Olga Kandjumbwa</span>
            <span class="md-subhead" >Culture</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
     <div id="xx">
      <md-card id="xy">
        <md-card-title>
    <md-card-title-media>
            <div class="md-media-md card-media">
              <img src="C:Users/Leo/Desktop/AngTest/img/avatar/leo.jpg" style="PADDING-RIGHT: 15px;">
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline">Imelda M. Manga</span>
            <span class="md-subhead">Gender Affairs</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
	</div>
  </md-content>
</div>
</div>