<div ng-controller="Council">
    <div id="content">
	<md-content layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
	    <div class="buckets layout-wrap layout-align-center-center layout-row" layout="" layout-align="center center" layout-wrap="">
		<div flex-xs flex-sm="50" flex-lg="30" ng-repeat="src in members">
		    <md-card>
			<md-card-title>
			    <md-card-title-media>
				<div class="md-media-md card-media">
				    <img ng-src="{{src.img}}"/>
				</div>
			    </md-card-title-media>
			    <md-card-title-text>
				<span class="md-headline" flex>{{src.name}}</span>
				<span class="md-subhead">{{src.portfolio}}</span>
				<span class="office">{{src.office}}</span>
			    </md-card-title-text>
			</md-card-title>
		    </md-card>
		</div>
	    </div>
	</md-content>
    </div>
</div>