<!-- /**
* Created by erassy on 1/14/2016.
*/-->


<div id="wrap">
<div class="grid grid-pad">

    <div ng-controller="eventsController" flex>

        <table flex-lt-lg="100%" flex-order-lt-md="50%" flex>

            <tr>
                <h1>Daily Events</h1>
            </tr>
            <tr>
                <th><h2>Day 1</h2></th>
                <th><h2>Day 2</h2></th>
                <th><h2>Day 3</h2></th>
            </tr>
        </table>
        <div class="brid brid-pad" flex>

        </div>

        <table ng-repeat="event in eventsArray" flex-lt-lg="100%" flex-order-lt-md="50%" flex>

            <td>
                <div id="datas" flex>

                    <b>Event Name</b>: {{event.id}}</br><b>Faculty</b>: {{event.faculty}}</br><b>Location</b>: {{event.location}}
                    </br> <b>Organiser Details</b>: </br>  <b>Name</b>: {{event.organizer.title}} {{event.organizer.firstName}} {{event.organizer.lastName}}
                    </br>   <b>Email</b>: {{event.organizer.emailAddress}}</br>
                </div>
                <p></p>
            </td>
            <td>
                <div id="datas" flex>

                    <b>Event Name</b>: {{event.id}}</br><b>Faculty</b>: {{event.faculty}}</br><b>Location</b>: {{event.location}}
                    </br> <b>Organiser Details</b>: </br>  <b>Name</b>: {{event.organizer.title}} {{event.organizer.firstName}} {{event.organizer.lastName}}
                    </br>   <b>Email</b>: {{event.organizer.emailAddress}}</br>
                </div>
                <p></p>
            </td>
            <td>
                <div id="datas" flex>

                    <b>Event Name</b>: {{event.id}}</br><b>Faculty</b>: {{event.faculty}}</br><b>Location</b>: {{event.location}}
                    </br> <b>Organiser Details</b>: </br>  <b>Name</b>: {{event.organizer.title}} {{event.organizer.firstName}} {{event.organizer.lastName}}
                    </br>   <b>Email</b>: {{event.organizer.emailAddress}}</br>
                </div>
                <p></p>
            </td>
        </table>
    </div>
</div>
</div>