<!--
/**
* Created by Bertie on 1/23/2016.
*/
 Page displays the map centered around the campus area with all markers and links pointing to said markers -->

<div  ng-controller="faqCtrl">
    <h1 align="center">FAQ's</h1>

    <div id = "textBox">
      <div id = "listQuestions">
        <ul>
            <div ng-repeat = 'questions in FAQ'>
                <li>
                    <a href="" scroll-to="{{questions.id}}" id="links">{{questions.question}}</a>
                </li>
            </div>
        </ul>
      </div>
        <div id = "listAnswers">
          <div ng-repeat = 'faqPair in FAQ'>
              <div id = '{{faqPair.id}}' style="padding:10px">
                  <p> <h3> Q: {{faqPair.question}}</h3>
                  <br>A: {{faqPair.answer}}</p><br>
              </div>
          </div>
        </div>
    </div>
</div>
