<div ><h1 text-align="center">EVENTS GALLERY </h1>
<ul id="image-wall" ng-controller="imageController as imageBox">
    <div class="one" >
        <img class="sm-img" ng-src="{{image[1]}}">
        <img class="sm-img" ng-src="{{image[2]}}">
        <img ng-src="{{image[3]}}">
    </div>
    <div class="two">
        <img ng-src="{{image[4]}}">
        <img ng-src="{{image[7]}}">
    </div>
    <div class="sm-img" >
        <img ng-src="{{image[7]}}">
    </div>
    <div class="three">
        <img class="med-img" ng-src="{{image[5]}}">
        <img ng-src="{{image[6]}}">
    </div>
</ul>
</div>