



<div ng-controller="loginController" layout-fill flex layout-align="center center"  ng-cloak id="loginContainer">
    <br/>
    <md-content layout-padding>
	<h3 >Student login</h3>
	<form name="login">
	    <md-input-container class="md-block">
		<md-icon><i class="fa fa-user fa-2x"></i></md-icon>
		<input type="text" name="studentNumber" ng-model="user.number" ng-minlength="7"ng- maxlength="9"
		       required ng-required="true" placeholder="Student Number"/>

	    </md-input-container >
	    <md-input-container class="md-block">
		<md-icon>
		    <i class="fa fa-key fa-2x"></i>
		</md-icon>
		<input type="password" name="studentPassword" ng-model="user.pin" ng-minlength="5"
		       required ng-required="true" placeholder="Pin"/>
	    </md-input-container>
	    <div>
		<center>
		    <md-button class="md-raised" aria-label="fLogin" ng-click="auth()">
			<i class="fa fa-lock"></i>
			Login
		    </md-button>
		</center>
	    </div>
	</form>
    </md-content>

</div>