

<script src="js/loginControllers.js"></script>

<div ng-controller='submitCtrl'>
    <!-- Student Number Textfield.. Only numeric characters allowed -->
    <form>
	<div class="mdl-textfield mdl-js-textfield">
	    <!-- must contain exactly 9 numeric characters -->
	    <input class="mdl-textfield__input" type="text" pattern="[0-9]{9}" ng-model="studentNum">
	    <label class="mdl-textfield__label">Student Number...</label>
	    <span class="mdl-textfield__error">Not a valid Student Number</span>
	</div>
    </form>

    <!-- Password Textfield.. All characters allowed -->
    <form>
	<div class="mdl-textfield mdl-js-textfield">
	    <!--  must contain 6 or more characters that are of at least one number, and one uppercase and lowercase letter -->
	    <input class="mdl-textfield__input" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" ng-model="password">
	    <label class="mdl-textfield__label">Password...</label>
	    <span class="mdl-textfield__error">Not a valid password</span>
	</div>
    </form>

    <!-- Submit button -->
    <button  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click = 'go()'>
	Submit
    </button>

    <!-- input readouts for test purposes -->
    <br>
    {{stNum}}
    <br>
    {{psw}}
    <br>
    {{authData}}
</div>