
a {
    text-decoration: none;
}
#map{
    margin-top: 15px;
    margin-bottomp: 20px;
    height:450px;
    width:100%;
    max-width: 1000px;
    border-radius: 5px;
    margin-left: 7.5%;
    margin-right: 7.5%;
}
#repeat{
    display: inline-table;
}
#country_container {
    font-size: 12px;
    cursor: pointer;
    display: table;
    margin: 3px 3px 3px 3px;
    color: rgb(240, 240, 240);
    background-color: rgba(0, 0, 0, 0.66);
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    width: 220px;

}
#country_container:hover {
    color: #efa909;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.31);
}
#names {
    cursor: pointer;
}

#linkBox {
    margin-top: 10px;
    background-color: rgb(63,81,181);
    width: 85%;
    border-radius: 5px;
    margin-left: 7.5%;
    margin-right: 7.5%;
}
