{
    development:
        dbURL: "localhost"
        sslKey: "oweek-dev.key"
        sskCert: "oweek-dev.crt"
    test:
        dbURL: "localhost"
        sslKey: "oweek-test.key"
        sskCert: "oweek-test.crt"
    production:
        dbURL: "196.216.167.210"
        sslKey: "oweek-prod.key"
        sskCert: "oweek-prod.crt"
}
